<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="arme1" class="Arme.ComportementHache"></bean>

   <bean id="personnage1" class="Personnage.Roi">
     <property name="Arme" ref="arme1"></property>
   </bean>

    <bean id="personnage2" class="Personnage.Reine">
     <property name="Arme" ref="arme2"></property>
   </bean>
      <bean id="arme2" class="Arme.ComportementPoignard"></bean>
</beans>
